main{
	margin:0 auto; /* permet de centrer la page*/
	width: 55%;
}
h1{
	text-align: center;
}
h2{
	text-align: center;
}
nav
{
	width : 150px ;
	border : 1px solid blue ;
	display: inline-block;
	vertical-align: top;
}

#sec1{
	display: inline-block;
	width: 30%;
	margin-left: 75px;
	border : 1px solid blue ;
	text-align: center;
}
#sec2{
	vertical-align: top;
	display: inline-block;
	width: 30%;
	border : 1px solid blue ;
	margin-left: 60px;
	text-align: center;
}
footer{
	text-align:center;
}





