main{
	margin:0 auto;  /* permet de centrer à 60% de la page*/
	width: 60%;
}
h1,h2{
	text-align: center;
}
nav{
	padding-right: 20px;
	float:left;
}

#section1{
	width:38%;
	float:left;
	padding-right: 25px;
}

#section2{

padding-top: 8px;
}
footer{

	clear:left;
	font-style: italic;
}
