main{
	margin:0 auto; /* permet de centrer la page*/
	width: 55%;

}
h1{
	text-align: center;
}
h2{
	text-align: center;
}
.photo{
	text-align: center;
}
nav
{
	width : 150px ;
	border : 1px solid blue ;
	display: inline-block;
	vertical-align: top;
}
section
{
	border : 1px solid blue ;
	text-align: center;
	display: inline-block;
	margin-right: 40px;
}
#section1{
	width: 32%;
	margin-left: 120px;
}
#section2{
	width: 30%;
    vertical-align: top;
	margin-left: 20px;
}
footer{
	text-align:center;
}




