main{
	margin:0 auto; /* permet de centrer la page*/
	width: 55%;

}
h1{
	text-align: center;
}
h2{
	text-align: center;
}


nav
{
	width : 150px ;
	border : 1px solid blue ;
	display: inline-block;
	vertical-align: top;
}
section
{
	border : 1px solid blue ;
	width: 55%;
	text-align: center;
	margin-left: 110px;
	display: inline-block;
}
footer{
	text-align:center;
}




